
body {
    background-color: #FFFFFF; /* Fondo blanco */
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans', sans-serif;
}
#nutricionTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

/* Encabezado de la tabla */
#nutricionTable thead {
  background-color: #e0e0e0;
  font-weight: bold;
  text-align: left;
}

#nutricionTable th {
  padding: 12px;
  border-bottom: 2px solid #ccc;
}

/* Filas de la tabla */
#nutricionTable tbody tr {
  border-bottom: 1px solid #ddd;
}

#nutricionTable tbody tr:hover {
  background-color: #f0f0f0;
}

#nutricionTable td {
  padding: 10px;
}

/* Botones */
.button {
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  transition: background 0.3s;
}

.button.is-light {
  background: transparent;
  color: #000;
}

.button.is-light i {
  font-size: 16px;
}

.button.is-info {
  background-color: #013E5A;
  color: white;
}

.button.is-info:hover {
  background-color: #002133;
}

.button.is-danger {
  background-color: #d62828;
  color: white;
}

.button.is-danger:hover {
  background-color: #b91c1c;
}
.gray-container {
    width: calc(100% - 160px); /* Ocupa toda la página menos los márgenes izquierdo (90px) y derecho (20px) */
    margin: 20px 20px 20px 90px; /* Margen de 20px arriba, 20px derecha e inferior, 90px izquierda */
    padding: 20px;
    text-align: left;
    background-color: #F2F2F2; /* Fondo gris claro */
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap; /* Permite que los contenedores se ajusten de manera flexible */
    justify-content: space-between; /* Alinea los contenedores a la izquierda y derecha */
}
.head-container {
    width: 100%; /* Ocupa todo el ancho */
    display: flex;
    justify-content: space-between; /* Alinea título y botones */
    margin-bottom: 20px; /* Añade un margen inferior para separar de los otros contenedores */
}
.head-title {
    display: flex;
    align-items: center; /* Alinea el icono y el título verticalmente */
    font-size: 32px;
    font-weight: Medium;
    color: #000;
}
.title-letters{
    display: flex;
    align-items: center; /* Alinea el icono y el título verticalmente */
    font-size: 14px;
    font-weight: Bold;
    color: #000;
}
.field-letters{
    display: flex;
    align-items: center; /* Alinea el icono y el título verticalmente */
    font-size: 14px;
    font-weight: Bold;
    color: #595959;
}
.field-letters2{
    display: flex;
    text-align: right;
    font-size: 14px;
    font-weight: Bold;
    color: #595959;
}
.data-letters {
    display: flex;
    align-items: center; /* Alinea el icono y el título verticalmente */
    font-size: 14px;
    font-weight: Bold;
    color: #000;
}
.head-title img {
    width: 30px; /* Ajusta el tamaño del icono */
    height: 30px;
    margin-right: 10px; /* Espacio entre el icono y el texto */
}
.buttons-container {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    justify-content: flex-end; /* Alinea los botones a la derecha */
}
.white-container {
    display: inline-block;
    width: 48%; /* Ocupa el 50% del ancho disponible menos márgenes */
    margin: 10px 0; /* Margen de 10px en la parte superior e inferior */
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    background-color: #FFFFFF; /* Fondo blanco */
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #ddd; /* Un pequeño borde para diferenciarlo */
}
.white-container2 {
    width: 98%; /* Ocupa el 50% del ancho disponible menos márgenes */
    margin: 10px 0; /* Margen de 10px en la parte superior e inferior */
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF; /* Fondo blanco */
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #ddd; /* Un pequeño borde para diferenciarlo */
}
.multirow-form-container textarea {
  width: 100%; /* Ocupa todo el ancho */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 10px; /* Bordes redondeados */
  box-sizing: border-box; /* Evita que el padding aumente el tamaño */
  font-size: 14px; /* Tamaño del texto */
  resize: none; /* Evita que el usuario cambie el tamaño del textarea */
}
.white-container3 {
    flex: 1;
    min-width: 120px;
    padding: 10px;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 7px;
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Le quitamos el sombreado por el momento*/
    /*border: 1px solid #ddd; /* Le quitamos el borde por el momento*/
}
.white-container4 {
    flex: 1;
    min-width: 120px;
    padding: 10px;
    text-align: left;
    background-color: #F2F2F2;
    border-radius: 7px;
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Le quitamos el sombreado por el momento*/
    /*border: 1px solid #ddd; /* Le quitamos el borde por el momento*/
}
.white-container-row {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    gap: 10px; /* Espaciado entre los elementos */
}
.search-button {
    background-color: #ffffff; /* Fondo blanco */
    border: 2px solid #ccc; /* Borde gris claro */
    padding: 10px 20px; /* Asegura que el botón tenga un tamaño adecuado */
    font-size: 14px; /* Tamaño de fuente adecuado */
    font-weight: bold;
    color: #333;
    border-radius: 20px; /* Bordes redondeados */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    gap: 8px; /* Espacio entre el texto y el icono */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
}
.search-button:hover {
    background-color: #f1f1f1; /* Cambio de fondo al pasar el mouse */
    border-color: #888; /* Cambio de color del borde al pasar el mouse */
}
.material-icons {
    font-size: 20px; /* Tamaño del icono */
}
/* Contenedor A flexible */
.container-a {
    display: flex;
    width: 100%; /* Ocupa todo el ancho */
    gap: 20px; /* Espacio entre los contenedores A */
}
.month-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.month-filter-container select,
.month-filter-container button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.month-filter-container button {
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.month-filter-container button:hover {
    background-color: #e0e0e0;
}
#nutricionTable thead {
    background-color: white !important;
}